/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/originals/13/e5/60/13e56031f80605d7c72940fef9e91543.jpg);
    background-position: left top;
    background-repeat: no-repeat, repeat;
    margin: 0;
}

.headline {
    font-family: 'Monoton';
    font-size: 80px;
    border-bottom-style: solid;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.get-answer-buttons {
    position: absolute;
    top: 80px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.get-answer-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 15px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.website-button{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 15px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 16px;
    cursor: pointer;
    
    margin-left: 30px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: transparent;
    margin-right: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 30px;
}

.parahead {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.para1 {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Annie Use Your Telescope';
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    margin-top: 40px;
}

.para2 {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    margin-top: 40px;
    
}

.trip-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}

.trip-card {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    width: calc(33% - 30px);
    height: 300px;
    color: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
    margin-left: 1%;
    margin-top: 2.5%;
}

.trip-card .background-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.trip-card h2 {
    margin-top: 0;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 30px;
}

.trip-card p {
    margin-bottom: 5px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.trip-card:hover .flipper {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    z-index: 2;
}



.flip-card-back {
    transform: rotateY(180deg);
    /* background-color: white; Set the back image background color to black */
    color: white; /* Set the text color for the trailer link */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Apply a backface visibility for improved performance */
    backface-visibility: hidden;
    
}

.flip-card-back .get-answer-button {
    display: block; /* Show the button on the back side */
}


